@charset "utf-8";
/* CSS Document */

body{ margin:0px; padding:0px; font-family:"Microsoft YaHei","微软雅黑","MicrosoftJhengHei","华文细黑","STHeiti,MingLiu";font-size:12px; background:#050504}
html,body{width:100%; height:100%;}
ul,li,div,span,p,h1,h2,h3,h4,h5,i{ margin:0px; padding:0px; list-style:none;word-break:break-all; word-wrap:break-word;}

/*解决IE下图片 按钮 链接 边框虚线  谷歌浏览器中文本框焦点时 存在边框问题*/
a{outline:none;blr:expression(this.onFocus=this.blur());color:#333; text-decoration:none;}
a:hover{ text-decoration:underline;}
input{outline:none;blr:expression(this.onFocus=this.blur());}
textarea{outline:none;blr:expression(this.onFocus=this.blur());}
area{outline:none;blr:expression(this.onFocus=this.blur());}
.h{width:100%; height:10px; font-size:1px; line-height:10px;clear:both;}
.h1{width:100%; height:15px; font-size:1px; line-height:15px;clear:both;}
.pt{padding-top:0px;}

.page{width:100%;overflow:hidden; background:url(../images/bg.jpg) no-repeat top; margin:0px auto; background-size:100%;}
.page img{width:92%; padding:4%; padding-top:20%;}

.boxbgimg {
    position: relative;
    z-index: 0;
    width: 100%;
}

.close {
    width: 76px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url("../sprites/gameclose.png");
    background-size: 100%;
}