/*main*/
.title{height: 50px; background-color: #E4393C; line-height: 45px;}
.wrapper, .title .con{width: 800px; margin: 0 auto;}

/*sprite*/
.sign-content .user .avatar .team-icon,
.sign-content .user .team .logo,
.sign-content .info span i,
.result h4 em:before
{background: url(sprite.png) no-repeat;}

/*opt*/
.result, .preview{padding: 10px 0 20px;}
.result{padding-bottom: 0;}
.result h4, .preview h4, .edit h4{text-align: center; font-weight: bold;}
.edit{clear: both;}
.edit h4{padding-bottom: 10px;}
.edit .avatar-group{margin-right: 10px;}
.edit .avatar-default{min-width: 340px;}
.edit .avatar-default li{padding: 0 10px 10px;}
.edit .avatar-default img{display: inline-block; cursor: pointer;}

.edit .logo-group{margin-right: 10px;}
.edit .logo-group .dropdown-menu{min-width: 180px;}
.edit .alert{padding: 6px; margin-left: 10px;}


.result h4{position: relative;}
.result h4 em{font-size: 12px; font-style: normal; padding-left: 5px; color: #CB1C2A; font-weight: normal; position: absolute; right: 0; top: 0;}
.result h4 em:before{content: ''; display: inline-block; background-position: -105px -25px; width: 20px; height: 12px; position: relative; top: 3px;
-webkit-animation:hand-shake .6s infinite ease-in-out;
  -moz-animation:hand-shake .6s infinite ease-in-out;
  -ms-animation:hand-shake .6s infinite ease-in-out;
  animation:hand-shake .6s infinite ease-in-out;}




/*sign*/
.sign-content p{margin-bottom: 0;}
.sign-content{border: 1px solid #CCC; padding: 10px; font-family: "Microsoft YaHei",arial; width: 600px;}
.sign-content .user{min-width: 210px; float: left; border-right: 1px solid #D6D6D6; padding-right: 10px;}
.sign-content .user .avatar{width: 75px; height: 75px; float: left; position: relative; margin-right: 20px;}
.sign-content .user .avatar .mask{position: absolute; left: 0; top: 0; background: url(mask.png) no-repeat; display: block; width: 75px; height: 75px;}
.sign-content .user .avatar .team-icon{position: absolute; right: 0px; bottom: 0px; width: 22px; height: 22px; display: block;}
.sign-content .user .avatar .icon-ud{background-position: -25px 0;}
.sign-content .user .avatar .icon-fd{background-position: -50px 0;}
.sign-content .user .avatar .icon-pm{background-position: -75px 0;}
.sign-content .user .avatar .icon-ur{background-position: -100px 0;}

.sign-content .user .team{float: left;}
.sign-content .user .team .name{margin-top: 10px; margin-bottom: 2px; color: #000;}
.sign-content .user .team .name .en{display: inline-block; margin-right: 5px; font-weight: bold;}
.sign-content .user .team .team-type{font-size: 12px; color: #CB1C2A; min-height: 17px;}
.sign-content .user .team .logo{height: 15px; margin-top: 6px; margin-left: -2px; background: none; max-width: 100px; overflow: hidden;}
.sign-content .user .team .logo img{vertical-align: top;}


/*sign-info*/
.sign-content .info{min-width: 340px; float: left; font-size: 12px; color: #222; padding-left: 20px;}
.sign-content .info em{font-style: normal;}
.sign-content .info span{display: inline-block; width: 140px;}
.sign-content .info span i{width: 13px; height: 12px; background-position: 0 -45px; display: inline-block; margin-right: 8px;}
.sign-content .info span .icon-tel{width: 13px; background-position: -15px -45px; position: relative; top: 2px;}
.sign-content .info span .icon-qq{width: 13px; background-position: -30px -45px;}
.sign-content .info span .icon-weixin{width: 13px; background-position: -45px -45px; position: relative; top: 3px;}
.sign-content .info .mood{color: #333; margin-top: 5px; margin-bottom: 7px; font-size: 14px; margin-left: -5px;}
.sign-content .info .tel{margin-bottom: 5px;}
.sign-content .info .tel .info-long{width: 180px;}


/*upload style*/
.upload-button {
  position: relative;
  overflow: hidden;
}
.upload-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .upload-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}


/*animate*/
@-webkit-keyframes hand-shake {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(10deg); }
  100% {
    -webkit-transform: rotate(0deg); } }
@-moz-keyframes hand-shake {
  0% {
    -moz-transform: rotate(0deg); }
  50% {
    -moz-transform: rotate(10deg); }
  100% {
    -moz-transform: rotate(0deg); } }
@keyframes hand-shake {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(0deg); } }