/*main*/
.title{height: 50px; background-color: #E4393C; line-height: 45px;}
.wrapper, .title .con{width: 800px; margin: 0 auto;}

/*sprite*/
.sign-content .user .avatar .team-icon,
.sign-content .user .team .logo,
.sign-content .info span i,
.result h4 em:before
{background: url(sprite.png?v=20150127) no-repeat;}

/*opt*/
.result, .preview{padding: 10px 0 20px;}
.result{padding-bottom: 0;}
.result h4, .preview h4, .edit h4{text-align: center; font-weight: bold;}
.edit{clear: both;}
.edit h4{padding-bottom: 10px;}
.edit .tip{text-align: center; color: #a94442; margin-top: -10px; margin-bottom: 10px; font-size: 12px;}
.edit .avatar-group{margin-right: 10px;}
.edit .avatar-default{min-width: 340px;}
.edit .avatar-default li{padding: 0 10px 10px;}
.edit .avatar-default img{display: inline-block; cursor: pointer;}

.edit .logo-group{margin-right: 10px;}
.edit .logo-group .dropdown-menu{min-width: 180px;}
.edit .alert{padding: 6px; margin-left: 10px; font-size: 12px;}


.result h4{position: relative;}
.result h4 em{font-size: 12px; font-style: normal; padding-left: 5px; color: #CB1C2A; font-weight: normal; position: absolute; right: 0; top: 0;}
.result h4 em:before{content: ''; display: inline-block; background-position: -105px -25px; width: 20px; height: 12px; position: relative; top: 3px;
-webkit-animation:hand-shake .6s infinite ease-in-out;
  -moz-animation:hand-shake .6s infinite ease-in-out;
  -ms-animation:hand-shake .6s infinite ease-in-out;
  animation:hand-shake .6s infinite ease-in-out;}

.edit-body{position: relative; padding-bottom: 62px;}
.feedback{width: 100%; height: 42px; line-height: 42px; background-color: #ededed; color: #999; text-align: center; position: absolute; bottom: 0; left: 0; display: none;}



/*sign*/
.sign-content p{margin-bottom: 0;}
.sign-content{border: 1px solid #CCC; padding: 10px; font-family: "Microsoft YaHei",arial; width: 600px;}
.sign-content .user{min-width: 210px; float: left; border-right: 1px solid #D6D6D6; padding-right: 10px;}
.sign-content .user .avatar{width: 75px; height: 75px; float: left; position: relative; margin-right: 20px;}
.sign-content .user .avatar .mask{position: absolute; left: 0; top: 0; background: url(mask.png) no-repeat; display: block; width: 75px; height: 75px;}
.sign-content .user .avatar .team-icon{position: absolute; right: 0px; bottom: 0px; width: 22px; height: 22px; display: block;}
.sign-content .user .avatar .icon-ud{background-position: -25px 0;}
.sign-content .user .avatar .icon-fd{background-position: -50px 0;}
.sign-content .user .avatar .icon-pm{background-position: -75px 0;}
.sign-content .user .avatar .icon-ur{background-position: -100px 0;}
.sign-content .user .avatar .icon-om{background-position: -125px 0;}

.sign-content .user .team{float: left;}
.sign-content .user .team .name{margin-top: 10px; margin-bottom: 2px; color: #000;}
.sign-content .user .team .name .en{display: inline-block; margin-right: 5px; font-weight: bold;}
.sign-content .user .team .team-type{font-size: 12px; color: #CB1C2A; min-height: 17px;}
.sign-content .user .team .logo{height: 15px; margin-top: 6px; margin-left: -2px; background: none; max-width: 100px; overflow: hidden;}
.sign-content .user .team .logo img{vertical-align: top;}


/*sign-info*/
.sign-content .info{min-width: 340px; float: left; font-size: 12px; color: #222; padding-left: 20px;}
.sign-content .info em{font-style: normal;}
.sign-content .info span{display: inline-block; width: 140px;}
.sign-content .info span i{width: 13px; height: 12px; background-position: 0 -45px; display: inline-block; margin-right: 8px;}
.sign-content .info span .icon-tel{width: 13px; background-position: -15px -45px; position: relative; top: 2px;}
.sign-content .info span .icon-qq{width: 13px; background-position: -30px -45px;}
.sign-content .info span .icon-weixin{width: 13px; background-position: -45px -45px; position: relative; top: 3px;}
.sign-content .info .mood{color: #333; margin-top: 5px; margin-bottom: 7px; font-size: 14px; margin-left: -5px; width: 350px;}
.sign-content .info .tel{margin-bottom: 5px;}
.sign-content .info .tel .info-long{width: 180px;}


/*upload style*/
.upload-button {
  position: relative;
  overflow: hidden;
}
.upload-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .upload-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}


/*animate*/
@-webkit-keyframes hand-shake {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(10deg); }
  100% {
    -webkit-transform: rotate(0deg); } }
@-moz-keyframes hand-shake {
  0% {
    -moz-transform: rotate(0deg); }
  50% {
    -moz-transform: rotate(10deg); }
  100% {
    -moz-transform: rotate(0deg); } }
@keyframes hand-shake {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(0deg); } }

/*image-crop*/
.popup{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,.4); z-index: 1000; display: none;}
.popup .popup-content{background-color: #FFF; position: absolute; left: 50%; top: 50%; border-radius: 6px; box-shadow: 0 3px 9px rgba(0,0,0,.5);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.image-crop .modal-header h4{font-weight: bold;}
.image-crop .modal-body{padding-right: 110px;}
.image-crop .crop-container{border: 1px solid #ccc;}
.image-crop .crop-preview{width: 75px; height: 75px; overflow: hidden; position: absolute; right: 20px; bottom: 22px; display: none;}
.image-crop .jcrop-keymgr{display: none !important;}
.image-crop .modal-footer{margin-top: 0; position: relative;}
.image-crop .alert{padding: 6px; font-size: 12px; position: absolute; left: 20px; top: 20px; display: none;}

/* jquery.Jcrop.min.css v0.9.12 (build:20130126) */
.jcrop-holder{direction:ltr;text-align:left;}
.jcrop-vline,.jcrop-hline{background:#FFF url(Jcrop.gif);font-size:0;position:absolute;}
.jcrop-vline{height:100%;width:1px!important;}
.jcrop-vline.right{right:0;}
.jcrop-hline{height:1px!important;width:100%;}
.jcrop-hline.bottom{bottom:0;}
.jcrop-tracker{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;height:100%;width:100%;}
.jcrop-handle{background-color:#333;border:1px #EEE solid;font-size:1px;height:7px;width:7px;}
.jcrop-handle.ord-n{left:50%;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-s{bottom:0;left:50%;margin-bottom:-4px;margin-left:-4px;}
.jcrop-handle.ord-e{margin-right:-4px;margin-top:-4px;right:0;top:50%;}
.jcrop-handle.ord-w{left:0;margin-left:-4px;margin-top:-4px;top:50%;}
.jcrop-handle.ord-nw{left:0;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-ne{margin-right:-4px;margin-top:-4px;right:0;top:0;}
.jcrop-handle.ord-se{bottom:0;margin-bottom:-4px;margin-right:-4px;right:0;}
.jcrop-handle.ord-sw{bottom:0;left:0;margin-bottom:-4px;margin-left:-4px;}
.jcrop-dragbar.ord-n,.jcrop-dragbar.ord-s{height:7px;width:100%;}
.jcrop-dragbar.ord-e,.jcrop-dragbar.ord-w{height:100%;width:7px;}
.jcrop-dragbar.ord-n{margin-top:-4px;}
.jcrop-dragbar.ord-s{bottom:0;margin-bottom:-4px;}
.jcrop-dragbar.ord-e{margin-right:-4px;right:0;}
.jcrop-dragbar.ord-w{margin-left:-4px;}
.jcrop-light .jcrop-vline,.jcrop-light .jcrop-hline{background:#FFF;filter:alpha(opacity=70)!important;opacity:.70!important;}
.jcrop-light .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#000;border-color:#FFF;border-radius:3px;}
.jcrop-dark .jcrop-vline,.jcrop-dark .jcrop-hline{background:#000;filter:alpha(opacity=70)!important;opacity:.7!important;}
.jcrop-dark .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#FFF;border-color:#000;border-radius:3px;}
.solid-line .jcrop-vline,.solid-line .jcrop-hline{background:#FFF;}
.jcrop-holder img,img.jcrop-preview{max-width:none;}